
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: groove;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}


.description{
  white-space: pre-wrap;
}


/*  styles timeblock section as a whole (Parent) */ 

.time-block{
  text-align: center;
  border-radius: 15px;
}

/* styles each single row (child) */
.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;

}

/*  Hour of the day display (grandchild) */
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  padding: 30px 10px 10px 10px ;
}

/*  time that has passed  (grandchild) */
.past {
  background-color: #d3d3d3;
  color: white;
}

/*  current time section (grandchild) */
.present {
  background-color: #ff6961;
  color: black;
}

/* time that has yet to come (grandchild) */
.future {
  background-color: #77dd77;
  color:black;
}

/* styles the save button (grandchild)  */
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn i:hover {
  font-size: 30px;
  transition: all .3s ease-in-out;
  
}

